<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="RESOURCES">
            <Directory Id="DIR_WINDOWS" Name="windows" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ResGroupID">
            <Component Id="CMP_AVRDUDE_CONF" Directory="DIR_ARDUINO" Guid="*">
                <File Id="FILE_AVRDUDE_CONF" KeyPath="yes" Source="SourceDir\windows\arduino\avrdude.conf" />
            </Component>
            <Component Id="CMP_AVRDUDE" Directory="DIR_ARDUINO" Guid="*">
                <File Id="FILE_AVRDUDE" KeyPath="yes" Source="SourceDir\windows\arduino\avrdude.exe" />
            </Component>
            <Component Id="CMP_LIBUSB" Directory="DIR_ARDUINO" Guid="*">
                <File Id="FILE_LIBUSB" KeyPath="yes" Source="SourceDir\windows\arduino\libusb0.dll" />
            </Component>
            <Component Id="CMP_ARDUINO_IDS" Directory="INSTALLDIR" Guid="*">
                <File Id="FILE_ARDUINO_IDS" KeyPath="yes" Source="SourceDir\arduino-ids.txt" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="DIR_WINDOWS">
            <Directory Id="DIR_ARDUINO" Name="arduino" />
        </DirectoryRef>
    </Fragment>
</Wix>